extends layout

block content
  p
    | Aenean eu leo quam. 
    | Pellentesque ornare sem lacinia quam venenatis vestibulum. 
    | Donec id elit non mi porta gravida at eget metus. 
    | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
    | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
    | Donec ullamcorper nulla non metus auctor fringilla. 
    | Cras mattis consectetur purus sit amet fermentum.

block side-bar
  .widget
    h1 widget
    p
      | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. 
      | Donec id elit non mi porta gravida at eget metus. 
      | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
      | Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
    p.
      This is some text and this too
